<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-store"></i>  Fakülteler</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Tüm Üniversiteler</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Fakülteler</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
                <div class="page-content">
                    <div class="container-fluid"> 
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="mt-0 header-title"><%= title %></h4>
                                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>Üniversite Adı</th>
                                                <th>İşlemler</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% find_faculties.faculties.forEach(function(faculties){ %>                           
                                                <tr>
                                                        <td><%= faculties.name %></td>
                                                        <td>
                                                            <a href="../selectDepartment/<%= find_faculties._id %>/<%= faculties._id %>" class="btn btn-sm btn-warning"><i class="fas fa-check"></i></a>
                                                        </td>
                                                    </tr> 
                                              <% }); %> 
                                            </tbody>
                                        </table>
            
                                    </div>
                                </div> 
                            </div> <!-- end col -->
                        </div>
                    </div><!-- container -->
                </div>
<%- include('./src/footer'); %>